.ant-form-item-explain {
  display: none;
}

.search-results table {
  width: auto !important;
  margin-top: 10px;
}

.flightswithfares-json-viewer {
  font-size: 12px;
}

.flightswithfares-json-viewer .data-type-label {
  display: none;
}
